body{
	background-image: url(http://img4.duitang.com/uploads/item/201408/31/20140831024929_SWCxx.jpeg);
	background-size: cover;
	}
		#Mutouboy{
			width: 58%;height: 300px;
			margin:10px auto; 
			box-shadow: 0 0 20px #000 inset;
			}
		#Mutouboy p{
			line-height: 300px;color:#000;font-size:70px;text-align: center;
			}
		#Mutouboy:hover{
			background-color: #000;
			opacity: 0.7;
			}
		#Mutouboy a:hover p{
			color: #fff;
			}

		#foot{
			text-align: center;
			width: 140px;
			height: 30px;
			margin: auto;
			position: absolute;
			left: 50%;
			bottom: 20px;
		}	
		#foot span{
			position: absolute; left: -50%;height: 30px;
		}		
		#foot a{
			color: #000;
			font-size: 20px;
		}
		

