<h2>Share:</h2>

<div class="bshare-custom">
	<a class="bshareDiv" href="http://www.bshare.cn/share">分享按钮</a>
</div>
<!-- <script type="text/javascript" charset="utf-8" src="http://static.bshare.cn/b/buttonLite.js#style=-1&amp;uuid={{ site.bshare.uuid }}&amp;pophcol=1&amp;lang=zh"></script>
<script type="text/javascript" charset="utf-8" src="http://static.bshare.cn/b/bshareC0.js"></script> -->
<script type="text/javascript" charset="utf-8" src="http://static.bshare.cn/b/buttonLite.js#uuid=1efa96de-7019-44ca-814e-70f5da7c54f8&style=1&bp=qqmb,bsharesync,sinaminiblog,qzone,189share"></script>